.menu {
    position: relative;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: rgb(146, 205, 248);
    border-radius: 20px;

    input {
        border-radius: 20px;
        font-size: large;
        height: fit-content;
        padding: 0 1vw;
        width: fit-content;
    }

    .btns{
        margin: 2vh 0;
        a, a:visited{
            margin: 0 1vw;
            padding: 1vh;
            background-color: darkblue;
            color: aliceblue;
            border-radius: 20px;
            cursor: pointer;
            text-decoration: none;
        }
    }
}