/* Estilo básico l cuerpo */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    height: 90vh;
    overflow: auto;
    /* Permite el desplazamiento */
}

/* Imagen de fondo */
.background-image {
    position: fixed;
    /* Cambiado a fixed para que la imagen de fondo se mantenga en su lugar */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../Assets/PanorámicaNoche.webp') no-repeat center center/cover;
    z-index: -2;
}

/* Superposición negra transparente */
.overlay {
    position: fixed;
    /* Cambiado a fixed para que la superposición se mantenga en su lugar */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}


/* Detalles del perfil */
.perfil-details {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin: 5vh 7.5vw;
}

button {
    background-color: #1e88e5;
    border-radius: 20px;
    padding: 1vh 1vw;
    color: white;
    font-size: medium;
}

/* Título de detalles del perfil */
.perfil-details h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Lista de detalles del perfil */
.perfil-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Elementos de la lista de detalles del perfil */
.perfil-details li {
    margin-bottom: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    word-break: break-all;
}

/* Etiquetas fuertes para los detalles del perfil */
.perfil-details li strong {
    display: inline-block;
    width: 150px;
}

/* Span para los valores de detalles del perfil */
.perfil-details li span {
    color: #555;
}