body {
  position: relative;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

form.formulario {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  /* Limitar la altura máxima */
  overflow-y: auto;
  /* Añadir scroll vertical */
}

.formulario {
  margin-bottom: 100px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
}

fieldset a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

legend {
  font-weight: bold;
  font-size: 1.1em;
  color: #4CAF50;
}

.label,
.label-checkbox,
.label-radio {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input,
.textarea {
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.textarea {
  height: 80px;
  resize: vertical;
}

.checkbox,
.radio {
  margin-right: 10px;
}

.submit,
.reset {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.reset {
  background-color: #f44336;
}

.submit:hover,
.reset:hover {
  background-color: #45a049;
}

.reset:hover {
  background-color: #e53935;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  color: #aaa;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 25px;
  overflow: auto;
}




  