/* Reseteo de estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
  color: #4a90e2;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.header-info-container {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  gap: 20px;
  /* Espacio entre los elementos */
  align-items: flex-start;
  margin-bottom: 30px;
}

.header-info,
.product-control-container,
.client-company-info {
  flex: 1;
  /* Para que ambos ocupen el mismo espacio */
  max-width: 600px;
  /* Ancho máximo para limitar el tamaño */
}

.company-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
}

.invoice-info {
  margin-top: 20px;
}

.company-info h2,
.product-info h2,
.client-info h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 2px solid #4a90e2;
  padding-bottom: 5px;
}

.info-item,
.invoice-info p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  color: #555;
}

.value {
  color: #777;
}

.product-control-container,
.client-company-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
}

.client-info p,
.product-info p {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.product-input-container {
  display: flex;
  align-items: center;
}

.product-select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-right: 10px;
}

.product-select:hover {
  border-color: #999;
}

.product-select:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.custom-product {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #357abf;
}

button:active {
  background-color: #2c6295;
}

footer {
  text-align: right;
}

.totals {
  margin-top: 20px;
  font-size: 16px;
}

.totals p {
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  font-size: 18px;
  color: #1a1a1a;
}

.thanks {
  margin-top: 30px;
  margin-bottom: 15px;
  font-style: italic;
  text-align: center;
}

.company-address,
.bank-info {
  margin-bottom: 5px;
  color: #666;
  text-align: center;
}

/* Estilo para el número de factura */
.factura-numero {
  font-size: 18px;
  font-weight: bold;
  color: #4a90e2;
  /* Color principal */
  padding: 10px;
  background-color: #f4f4f4;
  /* Color de fondo para resaltar */
  border-radius: 5px;
  border: 1px solid #ddd;
  /* Borde sutil */
  display: inline-block;
  /* Ajusta el tamaño del contenedor al contenido */
  margin-bottom: 10px;
  /* Espacio debajo del elemento */
}

.factura-numero span {
  color: #e74c3c;
  /* Color diferente para el número */
  font-weight: bold;
}

/* Estilos para el formulario de productos */
#product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#product-form select {
  margin-top: 0;
}