@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;

}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Oculta el scrollbar nativo */
}

body {

    color: #ffffff;
    background: linear-gradient(60deg, #e17670, #fbd4ab);
    position: relative;
    animation: cambiar 1s ease-in-out infinite;
    overflow: auto;
    /* Habilita el scroll en el body */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Encabezado */
.header {
    background: #e4a451d8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 20px;
    animation: desvanecer 1s forwards;
    opacity: 0;
}

/* Contenedor de imagen */
.containerIMG {
    background-image: linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.19)), url('../Images/PanaSolar.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    align-items: center;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);

}

/* Menú hamburguesa */
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/*luz al scroll*/
.Scroll {
    position: fixed;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(44, 248, 255, 0.9), rgba(255, 255, 255, 0.9));
    /* Cambia la opacidad para mayor visibilidad */
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.5s;
    border-left: 2px solid white;
    box-shadow: 0 0 5px whitesmoke;
}



/* Menú de Navegación */
.menuContainer {
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* Ajustar el padding del menú */
}

.menuContainer .navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
}

.logo {
    color: #fffdfc;
    font-size: 25px;
    width: 80px;
    height: 80px;
    align-items: center;
    background: url('../Images/Logo.png') no-repeat 50% 50%;
    background-size: cover;
    margin-left: 20px;
    transition: transform 0.9s ease-in-out;
}

.logo:hover {
    transform: rotate(360deg);
}

.menuContainer .navbar ul li {
    margin: 0 5px;
    /* Ajusta el margen según tus necesidades */
}

.menuContainer .navbar ul {
    display: flex;
    justify-content: center;
}

.menuContainer .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

#menu-toggle:checked~.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-toggle {
    display: none;
}

/* Texto del encabezado */
.headertxt {
    width: 50%;
    padding-left: 30px;

}

.headertxt h1 {
    font-size: 80px;
    /* Aumenta el tamaño de la fuente */
    line-height: 130px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
    /* Aplica negrita al texto */
}

.headertxt p {
    font-size: 25px;
    /* Aumenta el tamaño de la fuente */
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: 500;
    /* Aplica un grosor medio al texto */
}

/* Botones */
.btn-1 {
    display: block;
    max-width: 200px;
    /* Establece un ancho máximo de 200 píxeles */
    margin: 40px auto 0 auto;
    padding: 11px 45px;
    background-color: #b7975b;
    color: #fefcfb;
    border-radius: 25px;
    font-size: 22px;
    text-align: center;
}

.btn-1:hover {
    background-color: #a0845a;
}

.btn-1:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Dirección */
.direction-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.direction-container p {
    color: #fefcfb;
    font-size: 16px;
}

/* Sección "Nosotros" */
.about {
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.about-txt {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.nosotros {
    border-radius: 50%;
}

h2 {
    font-size: 60px;
    color: #fefcfb;
    margin-bottom: 15px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.about-txt p {
    font-size: 16px;
    color: #e0e0e0;
    margin-bottom: 35px;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

/* Información */
.informacion {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;

}

.information-1 {
    display: flex;
    align-items: center;
}

.information-1 h3 {
    font-size: 70px;
    color: #fefcfb;
}

.information-1 p {
    font-size: 16px;
    color: #e0e0e0;
    margin-left: 15px;
}

/* Sección de casas */
.house {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.house-1,
.house-2,
.house-3,
.house-4 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 25px;
    transition: transform 0.3s ease-in-out;
}

.house-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/gerente.jpg');
}

.house-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/empleado.jpg');
}

.house-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/cajero.jpg');
}

.house-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/paramedico.jpg');
}

/*Control de tamanio*/

.house-1:hover,
.house-2:hover,
.house-3:hover,
.house-4:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.txt {
    position: relative;
}

.txt span {
    color: #ffffff;
    font-size: 35px;
}

.txt h3 {
    color: #fefcfb;
    font-size: 35px;
}

.txt p {
    font-size: 16px;
    color: #e0e0e0;
    position: absolute;
    top: 400px;
    left: 0;
    rotate: 270deg;
}

/* Pie de página */
.footer {
    padding: 100px 0 0 0;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.footer-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    /* Espacio entre footer-flex y footer-content */
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    /* Espacio entre el h2 y .footer-txt */
}

.footer h2 {
    margin: 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-form {
    width: 50%;
}

.footer-txt {
    text-align: left;

}

form {
    display: flex;
    width: 350px;
    flex-direction: column;
}

.campo {
    background-color: #ffffff;
    padding: 17px 35px;
    outline: none;
    border-radius: 25px;
    margin-bottom: 10px;
}

.btn-2 {
    padding: 17px 35px;
    border: 2px solid #b7975b;
    background-color: #b7975b;
    color: #fefcfb;
    border-radius: 25px;
    text-transform: uppercase;
}

.btn-2:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.footer-txt h3 {
    color: #fefcfb;
    font-size: 35px;
    margin: 0 0 20px 0;
}

.footer-txt p {
    margin-bottom: 25px;
    font-size: 20px;
}

.footer-2 p {
    padding: 50px 0;
    text-align: center;
    font-size: 20px;
}

.Desp {
    text-align: center;
    align-items: center;
    width: 200px;
    position: fixed;
    top: 80px;
    right: 10px;
    z-index: 1000;
    /* Asegura que se sobreponga a otros elementos */
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo semi-transparente */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra para mayor visibilidad */
    border-radius: 5px;
    /* Bordes redondeados */
    display: none;
    /* Ocultar por defecto */
}

#menu-toggle:checked~.Desp {
    display: block;
    /* Mostrar cuando el checkbox esté seleccionado */
}

.navDes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navDes ul li {
    margin: 5px 0;
}

.navDes ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navDes ul li a:hover {
    color: #007BFF;
    /* Color de enlace al pasar el mouse */
}

/* Estilos responsivos */
@media (max-width: 991px) {

    /* Encabezado */
    .header {
        height: auto;
        flex-direction: column;
        /* Cambia la dirección de los elementos a columna */
        align-items: center;
    }

    .headertxt {
        padding-left: 0;
        text-align: center;
        /* Centra el texto */
    }

    /* Contenedor de imagen */
    .containerIMG {
        min-height: 300px;
        /* Reduce la altura mínima */
    }

    /* Menú hamburguesa */
    .menuContainer {
        padding: 20px 0;
        /* Ajusta el padding */
    }

    /* Menú de Navegación */
    .menuContainer .navbar.active {
        top: 90px;
        /* Ajusta la posición en dispositivos móviles */
    }

    /* Botón */
    .btn-1 {
        margin-top: 20px;
        /* Ajusta el margen superior */
    }

    /* Dirección */
    .direction-container {
        padding: 20px 0;
        /* Ajusta el padding */
    }

    /* Sección "Nosotros" */
    .about {
        padding: 50px 0;
        /* Ajusta el padding */
    }

    /* Información */
    .informacion {
        flex-direction: column;
        /* Cambia la dirección de los elementos a columna */
        padding: 30px;
        /* Ajusta el padding */
    }

    /* Sección de casas */
    .house {
        flex-direction: column;
        /* Cambia la dirección de los elementos a columna */
        margin-top: 0;
        /* Elimina el margen superior */
    }

    .house-1,
    .house-2,
    .house-3,
    .house-4 {
        height: auto;
        /* Cambia la altura a automática */
        margin-bottom: 20px;
        /* Añade un margen inferior */
    }

    .txt p {
        position: static;
        /* Restaura la posición */
        transform: rotate(0);
        /* Restaura la rotación */
        margin-top: 10px;
        /* Ajusta el margen superior */
    }

    /* Pie de página */
    .footer-content-wrapper {
        flex-direction: column;
        /* Cambia la dirección de los elementos a columna */
        gap: 30px;
        /* Ajusta el espacio entre los elementos */
    }

    .footer-flex {
        align-items: center;
        /* Centra los elementos */
    }

    .footer-content {
        width: 100%;
        /* Ajusta el ancho */
    }

    .footer-form {
        width: 100%;
        /* Ajusta el ancho */
    }

    .footer-txt {
        text-align: center;
        /* Centra el texto */
    }

    form {
        width: 100%;
        /* Ajusta el ancho */
    }
}

.redessociales {
    padding: 40px 20px;
    display: flex;
    justify-content: space-around;
}

.redessociales a {
    color: #ffffff;
    font-size: 30px;
    transition: transform 0.3s, color 0.3s;
}

.redessociales a:hover {
    transform: scale(1.5);
}

.redessociales a:active {
    color: rgb(44, 248, 255);
}

@media (max-width: 325px) {
    #menu-toggle:checked~.navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: #fff;
        /* Agrega un fondo al menú desplegable */
    }
}

@media (min-width: 300px) and (max-width: 991px) {

    .house-2 p,
    .house-3 p,
    .house-4 p {
        display: none;
    }
}

@media (min-width: 621px) and (max-width: 767px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #e4a451d8;
        visibility: visible;
    }

    .hamburger {
        display: none;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navbar ul li {
        margin: 0 10px;
    }
}


@media (max-width: 620px) {
    .containerIMG .headertxt {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }

    .navbar {
        position: absolute;
        right: 20px;
        visibility: hidden;
    }
}

@media (max-width: 769px) {
    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media (min-width: 769px) {
    .navbar {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}

@media (max-width: 769px) {

    .containerIMG .headertxt {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
}

/* Animaciones */
@keyframes desvanecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* Aplicar animación de desvanecer a navbar */
.navbar {
    opacity: 0;
    animation: desvanecer 1s forwards;
}

/* efecto al menu */
.navbar ul li a {
    transition: transform 0.3s, color 0.0s;
}

.navbar ul li a:hover {
    transform: scale(1.5);
}

.navbar ul li a:active {
    color: rgb(75, 238, 250);
}