@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Bebas Neue', sans-serif;
    /* Aplica la fuente a todos los elementos */
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Oculta el scrollbar nativo */
}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background: url('../Images/ParqueCentral.webp') no-repeat center center fixed;
    position: relative;
    animation: cambiar 60s ease-in-out infinite;
    overflow: auto; /* Habilita el scroll en el body */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    display: none;
}

/*luz al scroll*/
.Scroll {
    position: fixed;
    top: 0;
    right: 0;
    width: 12px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(44, 248, 255, 0.9), rgba(255, 255, 255, 0.9)); /* Cambia la opacidad para mayor visibilidad */
    pointer-events: none; 
    opacity: 1;
    transition: opacity 0.5s;
    border-left: 2px solid white;
    box-shadow: 0 0 5px whitesmoke;
}

header {
    background: #e4a451d8;
    color: White;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 20px;

}


.servicios {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.774);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.servicio-grua {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.servicio-grua img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.servicio-grua h3 {
    margin: 10px 0;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
}

footer {
    background-color: rgba(232, 159, 63, 0.8);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

/* Animaciones */
.desvanecer {
    padding: 0 20px;
    opacity: 0;
    animation: desvanecer 1s forwards;
}

.deslizar {
    transform: translateX(-100%);
    animation: deslizar 1s forwards;
}

.resaltar {
    animation: resaltar 1.5s ease-in-out forwards;
}

@keyframes desvanecer {
    to {
        opacity: 1;
    }
}

@keyframes deslizar {
    to {
        transform: translateX(0);
    }
}

@keyframes resaltar {
    to {
        background: transparent;
    }
}

/* Interacciones */
.servicio-grua:hover {
    transform: scale(1.05);
}

/* Navbar y Menú hamburguesa */
.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.menuContainer {
    width: 100%;
    /* Ajusta el ancho según tus necesidades */
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Ajustar el padding del menú */
}

.menuContainer .navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
    padding: 0 20px;
}



.logo {
    color: #fffdfc;
    font-size: 25px;
    width: 80px;
    height: 80px;
    align-items: center;
    background: url('../Images/Logo.png') no-repeat 50% 50%;
    background-size: cover;
    margin-left: 20px;
    transition: transform 0.9s ease-in-out;
}
.logo:hover {
    transform: rotate(360deg); 
}
.menuContainer .navbar ul li {
    margin: 0 5px;
    /* Ajusta el margen según tus necesidades */
}

.menuContainer .navbar ul {
    display: flex;
    justify-content: center;
}

.menuContainer .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
}

p {
    font-size: 0.55cm;
}

#menu-toggle:checked~.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* efecto al menu */
.navbar ul li a {
    transition: transform 0.3s, color 0.0s;
}

.navbar ul li a:hover {
    transform: scale(1.5); 
}

.navbar ul li a:active {
    color: rgb(75, 238, 250); 
}

#menu-toggle {
    display: none;
}


/* Estilos del navDes */
.Desp {
    text-align: center;
    align-items: center;
    width: 200px;
    position: fixed;
    top: 80px;
    right: 10px;
    z-index: 1000;
    /* Asegura que se sobreponga a otros elementos */
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo semi-transparente */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra para mayor visibilidad */
    border-radius: 5px;
    /* Bordes redondeados */
    display: none;
    /* Ocultar por defecto */
}

#menu-toggle:checked~.Desp {
    display: block;
    /* Mostrar cuando el checkbox esté seleccionado */
}

.navDes ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navDes ul li {
    margin: 5px 0;
}

.navDes ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navDes ul li a:hover {
    color: #007BFF;
    /* Color de enlace al pasar el mouse */
}

@keyframes cambiar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Estilos responsivos */
@media (max-width: 991px) {

    /* Encabezado */
    header {
        height: auto;
        flex-direction: column;
        /* Cambia la dirección de los elementos a columna */
        align-items: center;
    }

    .menuContainer {
        padding: 20px 0;
        /* Ajusta el padding */
    }

    /* Menú de Navegación */
    .menuContainer .navbar.active {
        top: 90px;
        /* Ajusta la posición en dispositivos móviles */
    }
}

@media (max-width: 325px) {
    #menu-toggle:checked~.navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 0px;
        background-color: #fff;
        /* Agrega un fondo al menú desplegable */
    }
}

@media (min-width: 300px) and (max-width: 991px) {

    .house-2 p,
    .house-3 p,
    .house-4 p {
        display: none;
    }
}

@media (min-width: 621px) and (max-width: 767px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #e4a451d8;
        visibility: visible;
    }

    .hamburger {
        display: none;
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navbar ul li {
        margin: 0 10px;
    }
}

@media (max-width: 620px) {
    .navbar {
        position: absolute;
        right: 20px;
        visibility: hidden;
    }
}

@media (max-width: 769px) {
    .navbar {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media (min-width: 769px) {
    .navbar {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}

@media (max-width: 769px) {
    .containerIMG .headertxt {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
}