body {
    width: 90vw;
    height: 90vh;
    padding: 2.5vh 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .integrantes {
        display: flex;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 1vh 0.5vw;
                list-style: none;
            }
        }
    }

    .paginas {
        display: flex;
        width: 90vw;
        justify-content: center;

        a,
        a:visited {
            text-align: center;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            margin: 0 2.5vw;
            color: blue;

            iframe {
                width: 40vw;
                height: 50vh;
            }
        }
    }
}