@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #212121;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.editable[contenteditable="true"] {
    background: #4a493f57;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    transition: background 0.3s ease, border 0.3s ease;
}

.perfil-details {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-top: 20px;
}

.perfil-details h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.perfil-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.perfil-details li {
    margin-bottom: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

#tarjetas {
    padding: 20px;
}


.perfil-details li strong {
    display: inline-block;
    width: 150px;
}

.perfil-details li span {
    color: #555;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../Assets/PanorámicaNoche.webp') no-repeat center center/cover;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.perfil-container {
    background: #0000004f;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    height: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.perfil-header {
    text-align: center;
    padding: 20px;
    position: relative;
    background: #f970ae80;
    border-radius: 10px;
}

.perfil-header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    animation: profilePicScale 0.5s ease-in-out;
}

#editar-perfil {
    display: block;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f970ae;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px;
    align-self: flex-end;
}

#editar-perfil:hover {
    background: #e69600b4;
}

#guardar-cambios {
    display: block;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #1ee55a;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 20px;
    align-self: flex-start;
}

#guardar-cambios:hover {
    background: #19c24a;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
}

@keyframes profilePicScale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.perfil-header h1 {
    margin: 10px 0;
    font-size: 24px;
    color: white;
}

.perfil-container h1 {
    color: white;
}